<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="DatabaseConnectionV1" connectionString="mongodb://localhost:27017/MongoDBSample"/>
		<add name="DatabaseConnectionV2" connectionString="mongodb://localhost:27017/Sample2"/>
	</connectionStrings>
</configuration>